instance/*
instance
node_modules
.env
.venv
dev.db
.gitignore


# # --------- Only add if you want to generate a new migration file upon every deployment ---------
# # ---------------- See "Dockerfile Deployment" section in README for explanation ----------------
# migrations